@{
    Layout = "~/Views/Shared/_StandardLayout.cshtml";
}

<div id="tf-about">
    <div class="container">
        <div class="row">
            <h2>What kind of about page is this?</h2>
            <h3>Some addition messages here</h3>

            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>